@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lobster&family=Montserrat:wght@100;300;400&family=Play:wght@700&family=Press+Start+2P&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



/* font-family: 'Abril Fatface', cursive;
font-family: 'Lobster', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Play', sans-serif;
font-family: 'Press Start 2P', cursive; */

*{
    font-family: 'Montserrat', sans-serif;
    outline: none;
}
body {
    @apply bg-black dark:bg-white text-white dark:text-black ;
  }
.logo-font{
    font-family: 'Lobster', cursive;
}


.javascript-class {
    position: absolute;
    background: #fcc104;
    box-shadow: 0px 8px 50px -5px #fcc104;
    font-size: x-large;
}
.node-class {
    position: absolute;
    background: #04852b;
    box-shadow: 0px 8px 50px -5px #04fc31b8;
    font-size: x-large;
    color: white;
}
.css-class {
    position: absolute;
    background: #ffffff;
    box-shadow: 0px 8px 50px -5px #f02c4da5;
    font-size: x-large;
    color: #f02c4d;
    border:2px solid #f02c4d;
    z-index: 1;
}
.robo-font{
    font-family: 'Press Start 2P', cursive;
}
.img-pics {
    height: 100%;
    filter: hue-rotate(219deg);
    border-radius: 10px;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center;
}

.custom-text {
    background: linear-gradient(45deg, #a3a2a2, #636363);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-family: 'Play', sans-serif;
}

.custom-text-2 {
    background: linear-gradient(239deg, #1198f8, yellow, #514e00);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-family: 'Play', sans-serif;
}



bodY {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .wave {
    width: 5px;
    height: 100px;
    background: linear-gradient(45deg, rgb(103, 103, 103), #979797);
    margin: 10px;
    animation: wave 1s linear infinite;
    border-radius: 20px;
  }
  .wave:nth-child(2) {
    animation-delay: 0.1s;
  }
  .wave:nth-child(3) {
    animation-delay: 0.2s;
  }
  .wave:nth-child(4) {
    animation-delay: 0.3s;
  }
  .wave:nth-child(5) {
    animation-delay: 0.4s;
  }
  .wave:nth-child(6) {
    animation-delay: 0.5s;
  }
  .wave:nth-child(7) {
    animation-delay: 0.6s;
  }
  .wave:nth-child(8) {
    animation-delay: 0.7s;
  }
  .wave:nth-child(9) {
    animation-delay: 0.8s;
  }
  .wave:nth-child(10) {
    animation-delay: 0.9s;
  }
  
  @keyframes wave {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }

  .slide-top {
	-webkit-animation: slide-top 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) alternate forwards;
	        animation: slide-top 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) alternate forwards;
}


/* ----------------------------------------------
 * Generated by Animista on 2023-7-11 13:27:41
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
 @-webkit-keyframes -global-slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
  }
  @keyframes -global-slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
  }
  